<!DOCTYPE html>
<html leng="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content=" ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your anatomy</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Suez+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/muscular.css">
    <script src="https://kit.fontawesome.com/01ff51a4ff.js" crossorigin="anonymous"></script>
    <style>
        li {
            list-style-type: none;
            display: inline;
        }
        ul {
            margin-left: 0; /* Отступ слева в браузере IE и Opera */
            padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
        }
    </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
        body
        {
            /*background: url("C:\Users\dilya\Downloads\Telegram Desktop\coding_interactive\coding_interactive\pic\bg-min.jpg");*/
        }
    </style>
</head>
<body>
<section id="title">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/"><i class="fa-solid fa-lungs"></i>your anatomy</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul>
                    <li><a href="muscular.html">EN</a></li>
                    <li><a href="muscular_ru.html">RU</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <div class="navbar-nav">
                        <a class="nav-link" href="shop.html">About</a>


                        <li><a class="nav-link" href="#">Anatomy</a>
                            <ul>
                                <li><a class="nav-link" href="muscular">Muscles</a>
                                </li>
                                <li><a class="nav-link" href="circulary">Blood vessels</a>
                                </li>
                                <li><a class="nav-link" href="skeleton">Skeleton</a>
                                </li>
                                <li><a class="nav-link" href="organs">Internal organs</a>
                            </ul>
                        </li>
                        <li><a class="nav-link lng" id = "contact" href="#">Test</a>
                            <ul>
                                <li><a class="nav-link lng" href="index">Muscles</a>
                                </li>
                                <li><a class="nav-link lng" href="index_circulary">Blood vessels</a>
                                </li>
                                <li><a class="nav-link lng" href="index_skeleton">Skeleton</a>
                                </li>
                                <li><a class="nav-link lng" href="index_organs">Internal organs</a>
                            </ul>
                        </li>
                        <a class="nav-link" href="#contacts">FAQ</a>
                        <a class="nav-link" href="#"><i class="fa-solid fa-user-doctor"></i></a>
                        <li class="nav-item">
                            <a href="index" class="nav-link smoothScroll">Sign Out</a>
                        </li>

                    </div>
                </ul>
            </div>
        </nav>
    </div>
</section>

<div class="picture_fon" style="background: url(https://lamcdn.net/wonderzine.com/post_image-image/UGwtHlaTHS3K2CTxS4Rvgw.jpg); ">
    <section id="inform">
        <h1>Muscular System Anatomy</h1>
        <h5><span style="font-weight:bold;">The Muscular System is</span> responsible for the movement of the human body. Attached to the bones of the skeletal system are about 700 named muscles that make up roughly half of a person’s body weight. Each of these muscles is a discrete organ constructed of skeletal muscle tissue, blood vessels, tendons, and nerves. Muscle tissue is also found inside of the heart, digestive organs, and blood vessels. In these organs, muscles serve to move substances throughout the body</h5>
        <h4>There are three types of muscle tissue: Visceral, cardiac, and skeletal.</h4>
    </section>
    <a class="content_toggle" href="#">Visceral Muscle</a>
    <div class="content_block" style="display: none;">
        <p>Visceral muscle is found inside of organs like the stomach, intestines, and blood vessels. The weakest of all muscle tissues, visceral muscle makes organs contract to move substances through the organ. Because visceral muscle is controlled by the unconscious part of the brain, it is known as involuntary muscle—it cannot be directly controlled by the conscious mind. The term “smooth muscle” is often used to describe visceral muscle because it has a very smooth, uniform appearance when viewed under a microscope. This smooth appearance starkly contrasts with the banded appearance of cardiac and skeletal muscles.</p>


    </div>

    <a class="content_toggle2" href="#">Cardiac Muscle </a>

    <div class="content_block2" style="display: none;">
        <p>Found only in the heart, cardiac muscle is responsible for pumping blood throughout the body. Cardiac muscle tissue cannot be controlled consciously, so it is an involuntary muscle. While hormones and signals from the brain adjust the rate of contraction, cardiac muscle stimulates itself to contract. The natural pacemaker of the heart is made of cardiac muscle tissue that stimulates other cardiac muscle cells to contract. Because of its self-stimulation, cardiac muscle is considered to be autorhythmic or intrinsically controlled.</p>
        <p> The cells of cardiac muscle tissue are striated—that is, they appear to have light and dark stripes when viewed under a light microscope. The arrangement of protein fibers inside of the cells causes these light and dark bands. Striations indicate that a muscle cell is very strong, unlike visceral muscles.</p>
        <p>The cells of cardiac muscle are branched X or Y shaped cells tightly connected together by special junctions called intercalated disks. Intercalated disks are made up of fingerlike projections from two neighboring cells that interlock and provide a strong bond between the cells. The branched structure and intercalated disks allow the muscle cells to resist high blood pressures and the strain of pumping blood throughout a lifetime. These features also help to spread electrochemical signals quickly from cell to cell so that the heart can beat as a unit.</p>
    </div>

    <a class="content_toggle3" href="#">Skeletal Muscle</a>

    <div class="content_block3" style="display: none;">
        <p>Skeletal muscle is the only voluntary muscle tissue in the human body—it is controlled consciously. Every physical action that a person consciously performs (e.g. speaking, walking, or writing) requires skeletal muscle. The function of skeletal muscle is to contract to move parts of the body closer to the bone that the muscle is attached to. Most skeletal muscles are attached to two bones across a joint, so the muscle serves to move parts of those bones closer to each other.</p>

        <p>Skeletal muscle cells form when many smaller progenitor cells lump themselves together to form long, straight, multinucleated fibers. Striated just like cardiac muscle, these skeletal muscle fibers are very strong. Skeletal muscle derives its name from the fact that these muscles always connect to the skeleton in at least one place.</p>
    </div>

    <div class="map">
        <svg viewBox="0 0 1000 1000">
            <a href="#">
                <path class="part" d="m 159.17843,220.79589 c -14.50421,13.73538 -24.28646,29.83638 -30.80873,61.61746 -2.63861,20.53915 0.76348,39.71674 7.70219,61.61746 9.73785,-5.70837 23.10655,-7.47132 34.65982,-48.13864 -1.65981,-25.03209 0.27869,-50.06419 -11.55328,-75.09628 z" fill="#bf2325"description-data="<img src='static/images/bitp.gif'>The biceps muscle of the shoulder (biceps, lat. musculus biceps brachii) is a large muscle of the shoulder, clearly visible under the skin. Flexes the shoulder at the shoulder joint, forearm at the elbow."></path>
            </a>
            <a href="#">
                <path class="part" d="m 163.02953,165.59692 34.65982,14.12067 c -25.50815,5.26538 -23.43134,28.14643 -69.96149,65.46855 -3.82541,6.24722 -3.16132,-17.43545 -1.92555,-44.9294 12.19145,-14.62845 20.07277,-31.61169 37.22722,-34.65982 z" fill="#bf2325"description-data="Your deltoid muscles are in your shoulder, which is the ball-and-socket joint that connects your arm to the trunk of your body. Deltoid muscles help you move your arms in different directions. They also protect and stabilize your shoulder joint. Like most other muscles in your body, the deltoids are skeletal muscles."></path>
            </a>
            <a href="#">
                <path class="part" d="m 197.68935,179.71759 37.86163,7.27085 c 10.42913,37.66046 9.77961,64.24227 4.53855,86.23254 -27.5319,18.49232 -48.50125,11.67191 -67.62446,-2.26928 l -13.28664,-50.15581 c 8.35767,-21.24055 23.15508,-33.8473 38.51092,-41.0783 z" fill="#bf2325"description-data="The pectoralis major muscle (Latin musculus pectoralis major) is a large superficial fan-shaped muscle located on the anterior surface of the chest. Under it is a triangular pectoralis minor muscle. The muscle begins in bundles on the medial half of the clavicle, the handle and body of the sternum, cartilage of the II-VII ribs, the anterior wall of the sheath of the rectus abdominis muscle."></path>
            </a>
            <a href="#">
                <path class="part" d="m 658.9981,696.66811 96.21736,4.53855 c 28.7443,-9.33455 28.66029,40.42896 34.49301,78.06314 -4.86665,42.99938 -5.79617,89.44374 -38.57771,108.01759 l -73.97844,-1.81542 c -29.64866,-31.36699 -34.76415,-66.82285 -43.57012,-101.66362 2.58702,-35.66732 -4.31332,-82.00791 25.4159,-87.14024 z" fill="#bf2325"description-data="<img src='static/images/icra.png'>The gastrocnemius muscle (lat. Musculus gastrocnemius) is a biceps muscle on the back of the human lower leg. It is located above the soleus muscle, together with which it is attached to the heel through the thick Achilles tendon. Functional activities include primarily the movement of the foot in the sagittal plane and the stabilization of the body during movement (walking and running)."></path>
            </a>
            <a href="#">
                <path class="part" d="m 250.52821,274.12869 44.02397,10.89253 c 8.18183,53.84829 7.82568,101.85242 -1.36156,151.58772 -9.96803,26.12342 -12.54659,54.93393 -34.49302,76.70157 -26.95809,-25.86487 -34.52411,-54.96176 -48.10867,-83.05555 -5.31046,-47.3856 -7.09101,-94.06522 -6.35398,-140.24133 z" fill="#bf2325"description-data="<img src='static/images/rectus.jpg'>The rectus abdominis muscle (lat. Musculus rectus abdominis) is a pair of flat long ribbon-shaped muscle, wide at the top and narrowed at the bottom, located to the side of the midline. Both rectus muscles are separated from each other by the white line of the abdomen. It starts on the pubic crest and pubic symphysis, goes up and attaches to the anterior surface of the xiphoid process and to the outer surface of the cartilages of the V-VII ribs. The muscle bundles of the rectus abdominis are interrupted by 3-4 horizontal tendon bridges. With a fixed spine and pelvic girdle, the rectus abdominis lowers the ribs, pulls the chest down, flexes the spine, and with a fixed chest raises the pelvis."></path>
            </a>
            <a href="#">
                <path class="part" d="m 294.55218,285.02122 c 3.0257,23.29791 2.18793,60.11799 9.07711,69.89374 13.94389,0.24831 16.5561,-8.94645 24.05434,-14.06952 5.57475,-13.62326 7.99008,-28.29967 9.98482,-43.11627 3.92335,-44.25726 -28.6496,-8.67887 -43.11627,-12.70795 z" fill="#bf2325"description-data="The serratus anterior (lat. Musculus serratus anterior) is the superficial muscle of the chest. Located in the anterior chest wall. Its upper part is covered by the pectoralis major muscle, the lower part is located superficially, covered by the pectoral fascia. The main functions of the serratus anterior are protraction and superior rotation of the scapular-thoracic joint, as well as forward displacement of the scapula relative to the chest wall. It also keeps the medial margin and inferior angle of the scapula close to the chest wall."></path>
            </a>
            <a href="#">
                <path class="part" d="m 301.81387,384.41556 c -6.05566,18.50675 -3.85791,37.93054 0.90771,57.63965 l 29.95446,-39.03158 c -0.2414,-11.1951 -3.36795,-22.3902 -5.90012,-33.5853 z" fill="#bf2325"description-data="The external oblique muscle of the abdomen (lat. Musculus obliquus externus abdominis) is located on the anterior and lateral surfaces of the abdomen and partially on the chest. The widest of the abdominal muscles. The muscle begins with 7-8 large teeth on the outer surface of the V-XII ribs. The external oblique muscle of the abdomen is attached to the outer lip of the iliac crest of the iliac bone, the pubic symphysis, the linea alba. With a bilateral contraction, the external oblique muscle of the abdomen lowers the ribs, flexes the spine, in the supine position, the muscle raises the pelvis, with a unilateral contraction, it turns the body in the opposite direction. The muscle is part of the abdominal muscles."></path>
            </a>
            <a href="#">
                <path class="part" d="m 636.30533,413.46231 c 36.93294,15.42606 57.46898,35.10318 61.72434,59.00121 16.81187,-25.54798 45.82832,-38.89136 73.07073,-54.0088 6.28335,36.80961 12.27809,73.57483 3.17699,108.0176 -25.89301,11.10166 -51.38797,16.03344 -74.88615,-9.98482 -18.15262,5.2529 -20.45804,21.82523 -61.27049,10.89253 -23.27309,-46.3978 -15.58367,-87.16113 -1.81542,-113.91772 z" fill="#bf2325"description-data="The gluteus maximus muscle (lat. musculus gluteus maximus) is the largest muscle of the three gluteal muscles, which is closest to the surface. It makes up most of the shape and appearance of the buttocks. It is a wide and thick fleshy mass of a rhomboid shape; it depends on how much the buttocks will protrude. In structure, it is coarse-fibred, consisting of bundles lying parallel to each other and connected together into one large knot, but separated by fibrous septa."></path>
            </a>
            <a href="#">
                <path class="part" d="m 752.94618,258.6976 -37.67,68.07832 -23.60048,-2.26928 c -3.30074,-23.12895 -23.28586,-43.87441 -34.94687,-65.80904 h -34.94687 l -1.36157,38.12386 c 17.11263,35.04192 23.96445,73.50411 34.49301,110.74073 10.88401,-25.46522 19.67746,-52.4237 38.57772,-72.16302 l 22.69277,1.81542 c 19.9366,17.45587 32.54675,44.43613 40.39313,77.60928 16.8968,-24.51501 27.10794,-73.7455 39.03157,-115.27928 l 0.90771,-40.39313 z" fill="#bf2325"description-data="The latissimus dorsi muscle (Latin musculus latissimus dorsi) is a superficial muscle that occupies the entire lower back, the upper bundles in the initial part are covered by the trapezius muscle. Brings the shoulder to the body and pulls the upper limb back to the midline, rotating it inward - pronation. If the upper limb is fixed, it brings the trunk closer to it and can expand the chest, serving as an auxiliary respiratory muscle."></path>
            </a>
            <a href="#">
                <path class="part" d="m 765.20028,183.81145 30.40831,7.26169 -1.36156,21.33121 -19.96965,40.39313 -21.3312,5.90012 c -0.46,-26.04441 1.99199,-51.25683 9.98482,-74.88615 l 2.72313,1.81543" fill="#bf2325"description-data="<img src='static/images/rhomboy.gif'>Rhomboid major muscle originates from the spinous processes of vertebrae T2-T5, while it inserts to the medial border of scapula. The rhomboid minor muscle originates from the nuchal ligament and spinous processes of vertebrae C7-T1. Both muscles are innervated by the dorsal scapular nerve, a branch of the brachial plexus. Their functions are the following: drawing scapula superomedially, supporting scapula, rotating glenoid cavity inferiorly."></path>
            </a>
            <a href="#">
                <path class="part" d="m 180.63447,420.724 8.62325,11.34638 c 6.52873,7.09476 4.97081,19.58061 4.53855,31.31603 l -30.40831,76.70156 c 1.06229,-39.09273 10.4113,-79.11665 17.24651,-119.36397 z" fill="#bf2325"description-data="Gluteus medius (lat. Musculus gluteus medius) is the muscle of the outer muscle group of the pelvis. It is located under the gluteus maximus muscle. The muscle is thick, two layers of bundles are distinguished in it - superficial and deep. The muscle bundles are fan-shaped, starting with a wide part from the outer gluteal surface of the iliac wing, bounded in front by the anterior gluteal line, from above by the iliac crest, from below by the posterior gluteal line. Then all muscle bundles converge into a common powerful tendon, attached to the top and outer surface of the greater trochanter of the femur. Abducts the hip during contraction. Its anterior bundles, contracting separately, rotate the thigh inward, and the posterior ones outward; when resting the body on one leg, she tilts the pelvis to her side."></path>
            </a>
            <a href="#">
                <path class="part" d="m 193.79627,463.38641 30.40832,100.75591 c -1.88334,33.70829 4.08675,70.68884 -10.89253,98.94048 -24.69555,-0.81753 -33.98569,-40.14857 -39.48542,-88.95566 -5.04469,-46.54989 4.52793,-81.06199 19.96963,-110.74073 z" fill="#bf2325"description-data="The rectus femoris muscle is one of the four quadriceps muscles of the human body. The others are the vastus medialis, the vastus intermedius (deep to the rectus femoris), and the vastus lateralis. All four parts of the quadriceps muscle attach to the patella (knee cap) by the quadriceps tendon. The rectus femoris is situated in the middle of the front of the thigh; it is fusiform in shape, and its superficial fibers are arranged in a bipenniform manner, the deep fibers running straight (Latin: rectus) down to the deep aponeurosis. Its functions are to flex the thigh at the hip joint and to extend the leg at the knee joint."></path>
            </a>
        </svg>
        <div class="description">


        </div>
        <img src="static/images/muscularB.png" alt="">
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="static/js/muscular.js"></script>

<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('.content_toggle').click(function(){
            $('.content_block').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle2').click(function(){
            $('.content_block2').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle3').click(function(){
            $('.content_block3').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle4').click(function(){
            $('.content_block4').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle5').click(function(){
            $('.content_block5').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle6').click(function(){
            $('.content_block6').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle7').click(function(){
            $('.content_block7').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle8').click(function(){
            $('.content_block8').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle9').click(function(){
            $('.content_block9').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle10').click(function(){
            $('.content_block10').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle11').click(function(){
            $('.content_block11').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle12').click(function(){
            $('.content_block12').slideToggle(300);
            return false;
        });
    });




</script>

</body>
</html>