<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content=" ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your anatomy</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Suez+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/circulary.css">
    <script src="https://kit.fontawesome.com/01ff51a4ff.js" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
        li {
            list-style-type: none;
            display: inline;
        }
        ul {
            margin-left: 0; /* Отступ слева в браузере IE и Opera */
            padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
        }
    </style>
</head>

<body>
<section id="title">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/"><i class="fa-solid fa-lungs"></i>your anatomy</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul>
                    <li><a href="circulary.html">EN</a></li>
                    <li><a href="circulary_ru.html">RU</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <div class="navbar-nav">
                        <a class="nav-link" href="shop.html">About</a>


                        <li><a class="nav-link" href="#">Anatomy</a>
                            <ul>
                                <li><a class="nav-link" href="muscular">Muscles</a>
                                </li>
                                <li><a class="nav-link" href="circulary">Blood vessels</a>
                                </li>
                                <li><a class="nav-link" href="skeleton">Skeleton</a>
                                </li>
                                <li><a class="nav-link" href="organs">Internal organs</a>
                            </ul>
                        </li>
                        <li><a class="nav-link lng" id = "contact" href="#">Test</a>
                            <ul>
                                <li><a class="nav-link lng" href="index">Muscles</a>
                                </li>
                                <li><a class="nav-link lng" href="index_circulary">Blood vessels</a>
                                </li>
                                <li><a class="nav-link lng" href="index_skeleton">Skeleton</a>
                                </li>
                                <li><a class="nav-link lng" href="index_organs">Internal organs</a>
                            </ul>
                        </li>
                        <a class="nav-link" href="#contacts">FAQ</a>
                        <a class="nav-link" href="#"><i class="fa-solid fa-user-doctor"></i></a>
                        <button  style="width:auto;">Sign Up</button>
                        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

                    </div>
                </ul>
            </div>
        </nav>
    </div>
</section>
<div class="picture_fon" style="background: url(https://lamcdn.net/wonderzine.com/post_image-image/UGwtHlaTHS3K2CTxS4Rvgw.jpg); ">
    <section id="inform">
        <h1>The Circulatory System </h1>
        <h5> <span style="font-weight:bold;">The Circulatory System</span> consists of the heart, blood vessels, and the approximately 5 liters of blood that the blood vessels transport. Responsible for transporting oxygen, nutrients, hormones, and cellular waste products throughout the body, the cardiovascular system is powered by the body’s hardest-working organ — the heart, which is only about the size of a closed fist. Even at rest, the average heart easily pumps over 5 liters of blood throughout the body every minute.The circulatory system includes the heart and blood vessels: arteries, arterioles, capillaries (the smallest vessels), venules and veins.

        </h5>
    </section>
    <a class="content_toggle" href="#">The aorta </a>
    <div class="content_block" style="display: none;">
        <p>the largest artery of the body, originating from the left ventricle of the heart. The maximum diameter of the aorta is normally about 3 cm. Oxygen-enriched arterial blood flows through the aorta and its branches, supplying organs and tissues with oxygen and nutrients. The aorta has several divisions: the ascending aorta, the aortic arch and the descending aorta. </p>


    </div>

    <a class="content_toggle2" href="#">The heart   </a>

    <div class="content_block2" style="display: none;">
        <p>an organ that provides blood flow through the blood vessels through repeated rhythmic contractions. The human heart is a strong muscle pump. Every day the heart contracts and relaxes 100,000 times and pumps 7,600 liters of blood. this is a cone-shaped hollow muscular organ, which receives artenia that are adjacent to the heart. The heart cavity is divided into two atria and two ventricles. </p>

    </div>

    <a class="content_toggle3" href="#">An artery </a>

    <div class="content_block3" style="display: none;">
        <p>is a blood vessel carrying blood from the heart to the organs. The walls of the arteries consist of three layers, or shells: the inner or endothelium, the middle and outer adventitia. After leaving the heart, blood flows through the system of arteries, and then passes through the capillaries into the system of venous vessels. Blood enters the pulmonary artery (into the small circulatory circle) from the right ventricle. </p>


    </div>

    <a class="content_toggle4" href="#">Arterioles</a>

    <div class="content_block4" style="display: none;">
        <p>small arteries through the blood flow directly to the capillaries. Their characteristic feature is the predominance of a smooth muscle layer in the vascular wall, thanks to which arterioles can actively change the size of their lumen and, thus, resistance. They participate in the regulation of general peripheral vascular resistance </p>


    </div>
    <a class="content_toggle5" href="#">The capillary </a>

    <div class="content_block5" style="display: none;">
        <p>the thinnest vessel in the human body. The capillary walls consist of a single layer of endothelium. The functions of the capillary include the transfer of nutrients, signaling substances (hormones) and other compounds.  </p>


    </div>
    <a class="content_toggle6" href="#">A vein </a>

    <div class="content_block6" style="display: none;">
        <p>a blood vessel through which blood moves to the heart. Veins receive blood from postcapillary venules. The veins unite into the venous system, part of the cardiovascular system.</p>


    </div>
    <a class="content_toggle7" href="#">The pulmonary veins </a>

    <div class="content_block7" style="display: none;">
        <p>carry arterial blood from the lungs to the left atrium. Starting from the capillaries of the lungs, they merge into larger veins, going respectively to the bronchi, segments and lobes, and at the gates of the lungs they form into large trunks, two trunks from each lung (one upper, the other lower), which go horizontally to the left atrium and flow into its upper wall, moreover, each trunk flows into a separate hole: the right ones are at the right, the left ones are at the left edge of the left atrium. .</p>


    </div>
    <a class="content_toggle8" href="#">The pulmonary artery  </a>

    <div class="content_block8" style="display: none;">
        <p>a large (about 5 cm long and 3 cm in diameter) paired blood vessel of the small circulatory circle, is a continuation of the pulmonary trunk (truncus pulmonalis) extending from the right ventricle; it is located in front and to the left of all vessels entering and exiting the heart, and brings venous blood to the lungs.</p>


    </div>
    <a class="content_toggle9" href="#">Femoral artery  </a>

    <div class="content_block9" style="display: none;">
        <p>is a large blood vessel that supplies blood to the area of the lower limb, in particular the thigh.  It is a continuation of the external iliac artery.</p>


    </div>
    <a class="content_toggle9" href="#">The inferior vein cava   </a>

    <div class="content_block9" style="display: none;">
        <p>a large vein, I open from the walls of the broshnagkya, the paired organs of the abdominal cavity and the lower part of the body. It is formed by the fusion of the right and left common iliac veins at the level of</p>


    </div>
    <div class="map">
        <svg viewBox="0 0 510.39999 1024">
            <a href="#">
                <path class="part" d="m 213.86139,122.93069 c 64.95049,-1.26732 64,-1.90099 64,-1.90099 l -0.63367,38.65347 -63.0495,-2.85149 z" fill="#bf2523" description-data="Red lines: The carotid arteries are paired vessels that are located in the neck and provide blood flow to the brain. The narrowing of the lumen of the carotid arteries due to the formation and growth of atherosclerotic plaques reduces the volume of incoming blood to the brain and increases the risk of stroke."></path>
				Blue lines: Jugular veins (lat. venae jugulares) - several paired veins located on the neck and carrying blood away from the neck and head; belong to the superior vena cava system. There are three pairs of jugular veins: internal, external and posterior.">
            </a>

            <a href="#">
                <path class="part" d="m 202.77228,156.19802 4.11881,26.29703 L 151.76238,211.9604 130.53465,340.27723 74.138614,320 123.24752,177.74257 Z" fill="#bf2523" description-data="Red lines: Subclavian artery (lat. a. subclavia) - a paired artery; the right one starts from the brachiocephalic trunk, the left one from the aortic arch, being one of the main arteries of the upper shoulder girdle, as well as the head and neck. Forming an arch convex upwards, the subclavian artery goes around the dome of the pleura and through the upper aperture of the chest goes to the neck, passes into the interstitial space, where it lies in the eponymous groove of the first rib. Coming out of the interstitial space, the artery at the outer edge of the first rib continues into the axillary artery, the latter passes into the brachial artery."></path>
Blue lines: Connected vein - carries blood from the arm or from the forelimbs in general. In humans, it merges with the jugular vein (v. jugularis), which carries blood from the head, gives an unnamed vein (v. anonyma), which forms the superior vena cava (v. cava superior) with the same vein on the other side. P. vein, as a vessel that brings blood from the forelimbs, is characteristic of all vertebrates.">
            </a>
            <a href="#">
                <path class="part" d="m 202.13861,185.34653 90.29703,1.26733 c 19.19395,31.57756 21.71953,63.15511 27.24753,94.73267 l -142.25743,2.85149 c -4.19508,-34.67656 -7.5797,-69.20234 23.76238,-97.26733 z" fill="#bf2523" description-data="Red lines: The pulmonary veins (lat. venae pulmonales) carry arterial blood from the lungs to the left atrium. Starting from the capillaries of the lungs, they merge into larger veins that go respectively to the bronchi, segments and lobes, and at the gates of the lungs they fold into large trunks, two trunks from each lung (one is upper, the other is lower), which go in a horizontal direction to the left atrium and flow into its upper wall, and each trunk flows into a separate hole: the right ones - at the right, the left ones - at the left edge of the left atrium. The right pulmonary veins cross the posterior wall of the right atrium on their way to the left atrium. They are the terminal link of the small, or pulmonary, circle of blood circulation."></path>
				Blue lines: Pulmonary arteries (Latin arteriae pulmonales) are two large (up to 2.5 cm in diameter) branches of the pulmonary trunk (truncus pulmonalis), extending from the right ventricle. The right pulmonary artery (a. pulmonalis dextra) is slightly longer than the left; to the point of division into lobar branches, its length is 4 cm. It departs from the pulmonary trunk at an angle, located behind the ascending aorta and superior vena cava and in front of the right main bronchus. The left pulmonary artery (a. pulmonalis sinistra) continues the pulmonary trunk, heading up, behind and to the left, located in front of the descending aorta and the left main bronchus. Each pulmonary artery enters the hilum of the corresponding lung.">
            </a>
            <a href="#">
                <path class="part" d="m 178.05941,360.23762 134.0198,2.21783 -9.18812,95.36633 -120.07921,-5.38614 z" fill="#bf2523" description-data="Blue lines: The inferior vena cava (lat. vena cava inferior) is a large vein that opens into the right atrium and collects venous blood from the walls of the abdominal cavity, paired organs of the abdominal cavity and lower body."></path>
Red lines: The aorta is the largest artery in the human body. Blood enters the aorta from the heart, then, through numerous arterial branches, to all human organs. The aorta moves upward from the heart, forms an arc, then descends, passing in the chest cavity (thoracic aorta) and in the abdomen (abdominal aorta)..">
            </a>
            <a href="#">
                <path class="part" d="m 184.07921,537.9802 138.77228,0.63366 c 42.27245,38.25127 10.13917,121.98838 13.30692,179.00991 l -186.93069,-1.26733 c 10.973,-59.58485 -13.40358,-188.14447 32.9505,-178.69307 z" fill="#bf2523" description-data="Red lines: Femoral artery Femoral artery, a. femoralis, is a continuation of the external iliac artery and begins under the inguinal ligament in the lacuna vasorum. The femoral artery, having entered the anterior surface of the thigh, goes down, closer to its medial edge, in the groove between the extensor and adductor muscles."></path>
				Blue lines: The femoral 'deep' vein, which flows 6-8 cm below the location of the inguinal ligament (v. femoralis profunda), is the most distal of the most important and largest tributaries of the vein vessels of the thigh.">
            </a>
        </svg>

        <div class="description">

        </div>

        <img src="pic/circulary.jpg" alt="">
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/circulary.js"></script>
<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('.content_toggle').click(function(){
            $('.content_block').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle2').click(function(){
            $('.content_block2').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle3').click(function(){
            $('.content_block3').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle4').click(function(){
            $('.content_block4').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle5').click(function(){
            $('.content_block5').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle6').click(function(){
            $('.content_block6').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle7').click(function(){
            $('.content_block7').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle8').click(function(){
            $('.content_block8').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle9').click(function(){
            $('.content_block9').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle10').click(function(){
            $('.content_block10').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle11').click(function(){
            $('.content_block11').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle12').click(function(){
            $('.content_block12').slideToggle(300);
            return false;
        });
    });









</script>
</body>
</html>