<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content=" ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ваша анатомия</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Suez+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/organs.css">
    <script src="https://kit.fontawesome.com/01ff51a4ff.js" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
        li {
            list-style-type: none;
            display: inline;
        }
        ul {
            margin-left: 0; /* Отступ слева в браузере IE и Opera */
            padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
        }
    </style>
</head>

<body>
<section id="title">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="main(anatomy).html"><i class="fa-solid fa-lungs"></i>ваша анатомия</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul>
                    <button class="btn-language" ><img src="https://img.icons8.com/color/48/undefined/russian-federation-circular.png"/><a href="index_ru"></a></button>
                    <button class="btn-language"><img src="https://img.icons8.com/color/48/undefined/great-britain-circular.png"/><a href="/"></a></button>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <div class="navbar-nav">
                        <a class="nav-link" href="shop.html">О сайте</a>


                        <li><a class="nav-link" href="#">Анатомия</a>
                            <ul>
                                <li><a class="nav-link" href="muscularRu">Мышечная система</a>
                                </li>
                                <li><a class="nav-link" href="circularyRu">Кровеносная система</a>
                                </li>
                                <li><a class="nav-link" href="sceletonRu">Скелетная система</a>
                                </li>
                                <li><a class="nav-link" href="organsRu">Система ораганов</a>
                            </ul>
                        </li>
                        <li><a class="nav-link lng" id = "contact" href="#">Тесты</a>
                            <ul>
                                <li><a class="nav-link lng" href="index_muscular">Мышечная система</a>
                                </li>
                                <li><a class="nav-link lng" href="index_circulary">Кровеносная система</a>
                                </li>
                                <li><a class="nav-link lng" href="index_skeleton">Скеленая система</a>
                                </li>
                                <li><a class="nav-link lng" href="index_organs">Система органов</a>
                            </ul>
                        </li>
                        <a class="nav-link" href="faq">FAQ</a>
                        <a class="nav-link" href="#"><i class="fa-solid fa-user-doctor"></i></a>

                    </div>

            </div>
        </nav>
</section>
<div class="picture_fon" style="background: url(https://lamcdn.net/wonderzine.com/post_image-image/UGwtHlaTHS3K2CTxS4Rvgw.jpg); ">
    <section id="inform">
        <h1>Система органов</h1>
        <h5>Наши <span style="font-weight:bold;">внутренние орагны</span> вовлекают трахею, пищевод, легкие, сердце, желудок, печень, желчный пузырь, двенадцатиперстную кишку, поджелудочную железу, кишечник, толстую кишку, прямую кишку, селезенку, почки и аппендицит</h5>

    </section>
    <a class="content_toggle" href="#">Мозг</a>
    <div class="content_block" style="display: none;">
        <p>Мозг состоит из двух полушарий. Внешне полушария очень похожи друг на друга, но функции у них разные. Левое полушарие контролирует правую сторону тела, а правое полушарие — левую. Мозг «плавает» в солевом растворе. Он прикреплен к черепу нервами и кровеносными сосудами. Мозг настолько мягок и нежен, что не выдерживает даже такого давления, как собственный вес. Каждую минуту мозгу нужен один литр крови, иначе мы можем потерять сознание.</p>
    </div>

    <a class="content_toggle2" href="#">Сердце </a>

    <div class="content_block2" style="display: none;">
        <p>Сердце — большая мышца. Когда он бьется, он гонит кровь по всему телу. Кровь несет кислород и питательные вещества ко всем органам. Основная работа сердца – перекачивать кровь. В день совершает около 100 000 гребков. Когда человек находится в состоянии покоя, сердце перекачивает примерно 5 литров крови в минуту. Масса сердца составляет 1/200 массы тела, однако на питание сердца расходуется 1/20 часть всех энергетических ресурсов, потребляемых всеми остальными органами.</p>

    </div>

    <a class="content_toggle3" href="#">Кровеносные сосуды</a>

    <div class="content_block3" style="display: none;">
        <p>Кровь течет по мягким сосудам (трубкам) от сердца и к сердцу. Они разветвляются и идут от крупных к самым тонким. Есть те, что тоньше волоса. Кровеносные сосуды проходят по всему телу. Их задача – доставлять кровь ко всем органам. Каждая клетка тела должна находиться рядом с кровеносным сосудом, чтобы получать и отводить вещества и тепло.</p>


    </div>
    <a class="content_toggle4" href="#">Легкие</a>

    <div class="content_block4" style="display: none;">
        <p>Легкие защищают нас от инфекции и загрязнения. Нам нужны легкие, чтобы дышать. Мы вдыхаем воздух, который нам нужен, кислород, и выдыхаем воздух, который нам не нужен, углекислый газ. Мы дышим воздухом через трахею, которая находится в горле.</p>


    </div>
    <a class="content_toggle5" href="#">Печень</a>

    <div class="content_block5" style="display: none;">
        <p>Печень – самый большой орган в нашем теле. Он помогает преобразовывать пищу в вещества, необходимые для функционирования всего организма. Печень очищает кровь и хранит необходимые нам витамины и железо. Он помогает кишечнику работать как надо. Он производит вещество, называемое желчью. Он также может превращать опасные вещества в безвредные и разрушать старые клетки крови.</p>


    </div>
    <a class="content_toggle6" href="#">Кишечник</a>

    <div class="content_block6" style="display: none;">
        <p>В кишечнике происходит всасывание питательных веществ из переработанной пищи в кровь. Сначала пища попадает в рот. Там его измельчают и смешивают со слюной. Оттуда он проходит через пищевод в желудок. Здесь пища перемешивается, смешивается с желудочным соком – разжижается и расщепляется. Затем он попадает в тонкую кишку. В тонком кишечнике пища еще больше разжижается до консистенции желе. Полезные вещества всасываются через стенки кишечника и попадают в кровь. Однако не все вещества усваиваются. Неабсорбированные вещества попадают в толстую кишку. Большая часть жидкости всасывается в толстой кишке. То, что остается, попадает в прямую кишку и выходит в виде стула. Избыток жидкости направляется с кровью в почки и выходит из организма в виде мочи.</p>

    </div>

    <div class="map">
        <svg viewBox="0 0 768 1024">
            <a href="#">
                <path class="part" d="m 335.85623,105.16046 c -52.42171,25.90077 -81.6478,62.71713 -104.50321,102.53145 -30.52003,70.75866 -43.74278,149.20499 -42.72144,233.98203 132.47297,-26.59961 159.21726,-71.0122 174.82927,-93.98716 24.79441,-53.38512 29.23571,-115.99177 11.83055,-180.08729 l 54.55199,-1.97176 c 2.52528,24.43138 -4.62943,43.05478 -10.51605,62.43902 21.55949,54.91057 71.20861,94.69865 59.81002,168.91399 23.29756,16.44096 50.61417,32.61397 99.90243,47.32221 12.16391,-73.01222 5.72624,-142.68243 -16.43132,-215.57894 -16.28097,-46.41944 -52.6312,-85.11993 -91.35815,-122.90629 z" fill="#bf2523" description-data="<img src='pic/lungs.gif'>Легкие (лат. pulmones, др.-греч. πνεύμων) — органы воздушного дыхания у человека, всех млекопитающих, птиц, рептилий, большинства земноводных, а также у некоторых рыб (двоякодышащие, крестоперые и многоперые). В легких происходит газообмен между воздухом в легочной паренхиме и кровью, протекающей по легочным капиллярам. Правое легкое человека состоит из 3, а левое из 2 долей. Скелет легкого образован разветвленными бронхами. Каждое легкое покрыто серозной оболочкой — легочной плеврой и лежит в плевральном мешке. Внутренняя поверхность грудной полости покрыта париетальной плеврой. Снаружи каждая из плевры имеет слой железистых клеток (мезотелиоцитов), выделяющих серозную плевральную жидкость в плевральную полость (узкое щелевидное пространство между листками плевры).">
            </a>

            <a href="#">
                <path class="part" d="m 386.4647,197.83312 39.43517,11.1733 -6.57253,19.06033 c 6.71529,35.82127 27.86566,67.31202 51.92298,97.93068 2.24909,22.33138 2.49201,37.64115 7.88704,70.98331 -38.86523,-22.3466 -86.90498,-44.69319 -106.47497,-67.03979 12.37014,-42.92603 13.47856,-87.46088 13.80231,-132.10783 z" fill="#bf2523" description-data="<img src='pic/heart.gif'> Сердце человека представляет собой конусообразный полый мышечный орган, в который поступает кровь из впадающих в него венозных стволов и перекачивающих ее в артерии, примыкающие к сердцу. Полость сердца делится на два предсердия и два желудочка. Левое предсердие и левый желудочек вместе образуют «артериальное сердце», названное по роду проходящей через него крови, правый желудочек и правое предсердие объединены в «венозное сердце», названное по тому же принципу. Сокращение сердца называется систолой, а расслабление – диастолой.">
            </a>
            <a href="#">
                <path class="part" d="m 210.32092,435.10141 -4.60077,122.90629 c 84.35088,-14.67756 117.49106,-46.30668 166.28498,-72.29781 l 66.38255,-17.08858 c 35.30609,-21.8775 43.36881,-39.21444 59.15276,-57.83825 l -73.61233,-42.72144 -63.75353,-6.57253 c -22.24096,26.62821 -33.28948,53.64915 -151.82541,76.89859 z" fill="#bf2523" description-data="<img src='pic/liver.gif'> Печень является основным органом, встречающимся только у позвоночных, который выполняет множество важных биологических функций, таких как детоксикация организма и синтез белков и биохимических веществ, необходимых для пищеварения и роста.[2][3][4] У человека он расположен в правом верхнем квадранте живота, ниже диафрагмы. Его другие роли в метаболизме включают регуляцию запасов гликогена, разложение эритроцитов и выработку гормонов.">
            </a>
            <a href="#">
                <path class="part" d="m 205.72015,558.0077 c -1.0337,62.43903 -14.52158,124.87805 -2.62901,187.31708 16.24227,19.04532 40.80972,33.92805 126.19256,18.40308 l 38.77792,9.20154 c -5.27122,50.13599 3.35122,97.95636 19.06033,144.59563 l 19.71759,-1.3145 c 20.61186,-38.10391 14.03761,-73.9423 15.11681,-110.41849 l 105.16047,23.66111 c 37.91646,-8.70212 61.48451,-42.39825 45.35045,-145.25289 l 6.57252,-239.89731 -44.03594,1.97177 -58.4955,67.03979 c -76.10287,23.62121 -151.85033,-10.26772 -270.7882,44.69319 z" fill="#bf2523" description-data="Кишечник представляет собой часть пищеварительной системы человека в виде длинной полой трубки. Начинается от привратника желудка и заканчивается задним проходом (задним проходом). Анатомически она делится на тонкую и толстую кишку. Они отличаются диаметром, структурой стенки и выполняемыми функциями.">
            </a>
        </svg>

        <div class="description">

        </div>

        <img src="pic/organs.png" alt="">
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/organs.js"></script>

<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('.content_toggle').click(function(){
            $('.content_block').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle2').click(function(){
            $('.content_block2').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle3').click(function(){
            $('.content_block3').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle4').click(function(){
            $('.content_block4').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle5').click(function(){
            $('.content_block5').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle6').click(function(){
            $('.content_block6').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle7').click(function(){
            $('.content_block7').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle8').click(function(){
            $('.content_block8').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle9').click(function(){
            $('.content_block9').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle10').click(function(){
            $('.content_block10').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle11').click(function(){
            $('.content_block11').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle12').click(function(){
            $('.content_block12').slideToggle(300);
            return false;
        });
    });
</script>
</body>
</html>