<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content=" ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your anatomy</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Suez+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/organs.css">
    <script src="https://kit.fontawesome.com/01ff51a4ff.js" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
        li {
            list-style-type: none;
            display: inline;
        }
        ul {
            margin-left: 0; /* Отступ слева в браузере IE и Opera */
            padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
        }
    </style>
</head>

<body>
<section id="title">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/"><i class="fa-solid fa-lungs"></i>your anatomy</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul>
                    <li><a href="organs.html">EN</a></li>
                    <li><a href="organs_ru.html">RU</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <div class="navbar-nav">
                        <a class="nav-link" href="shop.html">About</a>


                        <li><a class="nav-link" href="#">Anatomy</a>
                            <ul>
                                <li><a class="nav-link" href="muscular">Muscles</a>
                                </li>
                                <li><a class="nav-link" href="circulary">Blood vessels</a>
                                </li>
                                <li><a class="nav-link" href="skeleton">Skeleton</a>
                                </li>
                                <li><a class="nav-link" href="organs">Internal organs</a>
                            </ul>
                        </li>
                        <li><a class="nav-link lng" id = "contact" href="#">Test</a>
                            <ul>
                                <li><a class="nav-link lng" href="index">Muscles</a>
                                </li>
                                <li><a class="nav-link lng" href="index_circulary">Blood vessels</a>
                                </li>
                                <li><a class="nav-link lng" href="index_skeleton">Skeleton</a>
                                </li>
                                <li><a class="nav-link lng" href="index_organs">Internal organs</a>
                            </ul>
                        </li>
                        <a class="nav-link" href="#contacts">FAQ</a>
                        <a class="nav-link" href="#"><i class="fa-solid fa-user-doctor"></i></a>
                        <button  style="width:auto;">Sign Up</button>
                        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

                    </div>
                </ul>
            </div>
        </nav>
    </div>
</section>
<div class="picture_fon" style="background: url(https://lamcdn.net/wonderzine.com/post_image-image/UGwtHlaTHS3K2CTxS4Rvgw.jpg); ">
    <section id="inform">
        <h1>Internal Organs</h1>
        <h5>Our <span style="font-weight:bold;">internal organs</span> involve trachea, esophagus, lungs, heart, stomach, liver, gallbladder, duodenum, pancreas, intestine, large intestine, rectum, spleen, kidneys, and appendicitis </h5>

    </section>
    <a class="content_toggle" href="#">Brain</a>
    <div class="content_block" style="display: none;">
        <p>The brain consists of two hemispheres. Outwardly, the hemispheres are very similar to each other, but their functions are different. The left hemisphere controls the right side of the body, and the right hemisphere controls the left. The brain "floats" in a saline solution. It is attached to the cranium by nerves and blood vessels. The brain is so soft and tender that it cannot even bear such pressure as its own weight. Every minute the brain needs one liter of blood, otherwise we can lose consciousness.</p>


    </div>

    <a class="content_toggle2" href="#">A heart </a>

    <div class="content_block2" style="display: none;">
        <p>The heart is a big muscle. When it beats, it drives blood throughout the body. Blood carries oxygen and nutrients to all organs. The main job of the heart is to pump blood. It makes approximately 100,000 strokes per day. When a person is at rest, the heart pumps approximately 5 liters of blood per minute. The mass of the heart is 1/200 of the body weight, however, 1/20 of all energy resources consumed by all other organs are spent on nourishing the heart.</p>

    </div>

    <a class="content_toggle3" href="#">Blood vessels</a>

    <div class="content_block3" style="display: none;">
        <p>Blood flows through soft vessels (tubes) from and to the heart. They branch out and go from large to the thinnest. There are those that are thinner than a hair. Blood vessels run throughout the body. Their task is to deliver blood to all organs. Every cell in the body must be near a blood vessel to receive and dispose of substances and heat.</p>


    </div>
    <a class="content_toggle4" href="#">Lungs</a>

    <div class="content_block4" style="display: none;">
        <p>The lungs protect us from infection and pollution. We need lungs to breathe. We breathe in the air we need, oxygen, and breathe out the air we don't need, carbon dioxide. We breathe air through the trachea, which is located in the throat.</p>


    </div>
    <a class="content_toggle5" href="#">Liver</a>

    <div class="content_block5" style="display: none;">
        <p>The liver is the largest organ in our body. It helps to convert food into substances necessary for the functioning of the whole organism. The liver cleanses the blood and stores the vitamins and iron we need. It helps the intestines to work as they should. It produces a substance called bile. It can also turn dangerous substances into harmless ones and destroy old blood cells</p>


    </div>
    <a class="content_toggle6" href="#">Intestines</a>

    <div class="content_block6" style="display: none;">
        <p>In the intestines, the absorption of nutrients from processed food into the blood occurs. First, food enters the mouth. There it is ground and mixed with saliva. From there, it passes through the esophagus into the stomach. Here the food is mixed, mixed with gastric juice - liquefied and split. Then it enters the small intestine. In the small intestine, food is further liquefied to the consistency of jelly. Useful substances are absorbed through the walls of the intestine and enter the bloodstream. However, not all substances are absorbed. Unabsorbed substances enter the large intestine. Most of the fluid is absorbed in the large intestine. What remains goes into the rectum and comes out in the form of stool. Excess fluid is sent in the blood to the kidneys and exits the body as urine</p>


    </div>

    <div class="map">
        <svg viewBox="0 0 768 1024">
            <a href="#">
                <path class="part" d="m 335.85623,105.16046 c -52.42171,25.90077 -81.6478,62.71713 -104.50321,102.53145 -30.52003,70.75866 -43.74278,149.20499 -42.72144,233.98203 132.47297,-26.59961 159.21726,-71.0122 174.82927,-93.98716 24.79441,-53.38512 29.23571,-115.99177 11.83055,-180.08729 l 54.55199,-1.97176 c 2.52528,24.43138 -4.62943,43.05478 -10.51605,62.43902 21.55949,54.91057 71.20861,94.69865 59.81002,168.91399 23.29756,16.44096 50.61417,32.61397 99.90243,47.32221 12.16391,-73.01222 5.72624,-142.68243 -16.43132,-215.57894 -16.28097,-46.41944 -52.6312,-85.11993 -91.35815,-122.90629 z" fill="#bf2523" description-data="<img src='static/images/lungs.gif'>Lungs (lat. pulmones, other Greek πνεύμων) are the organs of air breathing in humans, all mammals, birds, reptiles, most amphibians, and also in some fish (lungfish, cross-finned and multi-finned). In the lungs, gas exchange takes place between the air in the lung parenchyma and the blood flowing through the pulmonary capillaries. The right lung of a person consists of 3, and the left of 2 lobes. The skeleton of the lung is formed by tree-branching bronchi. Each lung is covered with a serous membrane - the pulmonary pleura and lies in the pleural sac. The inner surface of the chest cavity is covered with parietal pleura. Outside, each of the pleurae has a layer of glandular cells (mesotheliocytes) that secrete serous pleural fluid into the pleural cavity (a narrow slit-like space between the pleura sheets)."></path>
            </a>

            <a href="#">
                <path class="part" d="m 386.4647,197.83312 39.43517,11.1733 -6.57253,19.06033 c 6.71529,35.82127 27.86566,67.31202 51.92298,97.93068 2.24909,22.33138 2.49201,37.64115 7.88704,70.98331 -38.86523,-22.3466 -86.90498,-44.69319 -106.47497,-67.03979 12.37014,-42.92603 13.47856,-87.46088 13.80231,-132.10783 z" fill="#bf2523" description-data="<img src='static/images/heart.gif'> The human heart is a cone-shaped hollow muscular organ into which blood enters from the venous trunks flowing into it and pumping it into the arteries that adjoin the heart. The cavity of the heart is divided into two atria and two ventricles. The left atrium and left ventricle together form the 'arterial heart', named after the type of blood passing through it, the right ventricle and right atrium are combined into the 'venous heart', named according to the same principle. The contraction of the heart is called systole, and the relaxation is called diastole."></path>
            </a>
            <a href="#">
                <path class="part" d="m 210.32092,435.10141 -4.60077,122.90629 c 84.35088,-14.67756 117.49106,-46.30668 166.28498,-72.29781 l 66.38255,-17.08858 c 35.30609,-21.8775 43.36881,-39.21444 59.15276,-57.83825 l -73.61233,-42.72144 -63.75353,-6.57253 c -22.24096,26.62821 -33.28948,53.64915 -151.82541,76.89859 z" fill="#bf2523" description-data="<img src='static/images/liver.gif'> The liver is a major organ only found in vertebrates which performs many essential biological functions such as detoxification of the organism, and the synthesis of proteins and biochemicals necessary for digestion and growth.[2][3][4] In humans, it is located in the right upper quadrant of the abdomen, below the diaphragm. Its other roles in metabolism include the regulation of glycogen storage, decomposition of red blood cells, and the production of hormones."></path>
            </a>
            <a href="#">
                <path class="part" d="m 205.72015,558.0077 c -1.0337,62.43903 -14.52158,124.87805 -2.62901,187.31708 16.24227,19.04532 40.80972,33.92805 126.19256,18.40308 l 38.77792,9.20154 c -5.27122,50.13599 3.35122,97.95636 19.06033,144.59563 l 19.71759,-1.3145 c 20.61186,-38.10391 14.03761,-73.9423 15.11681,-110.41849 l 105.16047,23.66111 c 37.91646,-8.70212 61.48451,-42.39825 45.35045,-145.25289 l 6.57252,-239.89731 -44.03594,1.97177 -58.4955,67.03979 c -76.10287,23.62121 -151.85033,-10.26772 -270.7882,44.69319 z" fill="#bf2523" description-data="The intestine is a part of the human digestive system in the form of a long hollow tube. It starts from the pylorus of the stomach and ends with the anus (anus). Anatomically, it is divided into small intestine and large intestine. They differ in diameter, wall structure and functions performed."></path>
            </a>
        </svg>

        <div class="description">

        </div>

        <img src="static/images/organs.png" alt="">
    </div>
</div>

<div class="page-videos">
    <div class="container">
        <div class="container-videos">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../static/images/organs_1.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Путешествие по вашему телу</h5>
                            <button class="btn btn-watch" id="organs_1">Watch the video</button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../static/images/organs_2.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>ВНУТРЕННИЕ ОРГАНЫ ЧЕЛОВЕКА / НЕВЕРОЯТНЫЕ ФАКТЫ ТОП 10</h5>
                            <button class="btn btn-watch" id="organs_2">Watch the video</button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../static/images/organs_3.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Легендарный видеоатлас доктора Роберта Акланда по анатомии человека. Внутренние органы. 1 часть</h5>
                            <button class="btn btn-watch" id="organs_3">Watch the video</button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../static/images/organs_4.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Abdominal organs (plastic anatomy)</h5>
                            <button class="btn btn-watch" id="organs_4">Watch the video</button>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="page-products">
    <div class="container">
        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="static/js/organs.js"></script>

<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('.content_toggle').click(function(){
            $('.content_block').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle2').click(function(){
            $('.content_block2').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle3').click(function(){
            $('.content_block3').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle4').click(function(){
            $('.content_block4').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle5').click(function(){
            $('.content_block5').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle6').click(function(){
            $('.content_block6').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle7').click(function(){
            $('.content_block7').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle8').click(function(){
            $('.content_block8').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle9').click(function(){
            $('.content_block9').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle10').click(function(){
            $('.content_block10').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle11').click(function(){
            $('.content_block11').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle12').click(function(){
            $('.content_block12').slideToggle(300);
            return false;
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../static/js/videoCarousel/organs.js"></script>
</body>
</html>