<!DOCTYPE html>
<html leng="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content=" ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your anatomy</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Suez+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/sceleton.css">
    <script src="https://kit.fontawesome.com/01ff51a4ff.js" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
        li {
            list-style-type: none;
            display: inline;
        }
        ul {
            margin-left: 0; /* Отступ слева в браузере IE и Opera */
            padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
        }
    </style>
</head>
<body>
<section id="title">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/"><i class="fa-solid fa-lungs"></i>your anatomy</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul>
                    <button class="btn-language" ><img src="https://img.icons8.com/color/48/undefined/russian-federation-circular.png"/><a href="index_ru"></a></button>
                    <button class="btn-language"><img src="https://img.icons8.com/color/48/undefined/great-britain-circular.png"/><a href="/"></a></button>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <div class="navbar-nav">
                        <a class="nav-link" href="shop.html">About</a>


                        <li><a class="nav-link" href="#">Anatomy</a>
                            <ul>
                                <li><a class="nav-link" href="muscular">Muscles</a>
                                </li>
                                <li><a class="nav-link" href="circulary">Blood vessels</a>
                                </li>
                                <li><a class="nav-link" href="skeleton">Skeleton</a>
                                </li>
                                <li><a class="nav-link" href="organs">Internal organs</a>
                            </ul>
                        </li>
                        <li><a class="nav-link lng" id = "contact" href="#">Test</a>
                            <ul>
                                <li><a class="nav-link lng" href="index">Muscles</a>
                                </li>
                                <li><a class="nav-link lng" href="index_circulary">Blood vessels</a>
                                </li>
                                <li><a class="nav-link lng" href="index_skeleton">Skeleton</a>
                                </li>
                                <li><a class="nav-link lng" href="index_organs">Internal organs</a>
                            </ul>
                        </li>
                        <a class="nav-link" href="faq">FAQ</a>
                        <a class="nav-link" href="#"><i class="fa-solid fa-user-doctor"></i></a>
                        <button  style="width:auto;">Sign Up</button>
                        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

                    </div>
                </ul>
            </div>
        </nav>
    </div>
</section>
<div class="picture_fon" style="background: url(https://lamcdn.net/wonderzine.com/post_image-image/UGwtHlaTHS3K2CTxS4Rvgw.jpg) ">
    <section id="inform">
        <h1>Skeletal System Anatomy</h1>
        <h5> <span style="font-weight:bold;">The Skeleton</span>(from the Greek skeleton - dried) is a collection of bones connected to each other in a certain way. They form the skeleton - the supporting frame for the soft tissues that form the rest of the body. In an adult human anatomy, the skeleton consists of approximately 206-208 bones. The skeleton has three sections: the skeleton of the body, the skeleton of the skull and the skeleton of the limbs.
            Trunk bones: Vertebrae - 31-33, cervical - 7, thoracic - 12, lumbar - 5, 5 fused sacral vertebrae - sacrum, 1-3 coccygeal vertebrae - coccyx, ribs - 12 pairs of sternum.
            Skull bones: 23 - bones, including unpaired - frontal, occipital, sphenoid, lower jaw, hyoid bone, and paired - parietal, temporal, zygomatic and others
            Bones of the upper limb: 32 - bones of one upper limb, clavicle, scapula, humerus, radius, carpal bones - 8, metacarpal bones - 5, phalanges of fingers -14
            Bones of the lower limb: 31 bones in one lower limb, pelvic bone, femur, patella, tibia, fibula, tarsal bones - 7, metatarsal bones - 5, phalanges of the fingers - 14
        </h5>
    </section>
    <a class="content_toggle" href="#">The trunk skeleton</a>
    <div class="content_block" style="display: none;">
        <p>, which serves as a support for the head and upper limbs, as well as protection for the spinal cord and internal organs, consists of the spinal column (spine), ribs and sternum.</p>


    </div>

    <a class="content_toggle2" href="#">The skeleton of the head  </a>

    <div class="content_block2" style="display: none;">
        <p>the skull - protects the brain, sensory organs and serves as a support for the initial sections of the digestive and respiratory system. The skull is formed by a strong brain box and is divided into facial and brain sections. The brain part of the skull is formed by bones that are firmly and motionlessly connected to each other. These are paired parietal and temporal bones and unpaired frontal and occipital bones. The facial region of the skull consists of 15 bones. The largest bones of the facial skull are the upper and lower jaws; the roots of the teeth are located in their cells. There is only one movable bone in the skull - the lower jaw. All other bones of the skull are connected motionless.</p>

    </div>

    <a class="content_toggle3" href="#">The skeleton of the upper and lower </a>

    <div class="content_block3" style="display: none;">
        <p>extremities is divided into the skeleton of the girdle and the skeleton of the free part of the limb. The skeleton of the girdle of the upper limbs (shoulder girdle) consists of two paired bones - the scapula and collarbone, and the skeleton of the free part of the upper limb - of three sections: the humerus, the bones of the forearm and the bones of the hand.</p>


    </div>

    <a class="content_toggle4" href="#">The skeleton of the girdle of
        the lower extremities (pelvic girdle) </a>

    <div class="content_block4" style="display: none;">
        <p>consists of a paired pelvic bone, and the skeleton of the free part of the lower limb is also divided into three sections: the femur, the bones of the lower leg and the bones of the foot. The skeleton of the upper limb performs the functions of grasping and moving objects in space, and the lower limbs are used for support (static work) and movement (dynamic work). Each bone is an independent organ that performs a specific function.</p>


    </div>
    <div class="map">
        <svg viewBox="0 0 320.10596 958.72845">
            <a href="#">
                <path class="part" d="m 102.76486,31.69096 c 21.17803,-18.030707 50.75819,-20.002527 50.76707,-19.99915 24.34053,7.384301 26.64179,17.537716 31.38329,24.922017 1.57272,13.791026 1.07307,14.255804 6.46126,22.460583 -5.13424,5.960902 1.89736,14.033693 -1.23072,21.537546 -4.94193,1.402852 -10.53782,-0.840405 -8.30734,18.153074 -0.64015,8.41486 0.95281,16.38309 -3.38447,25.53738 -16.307,-0.0513 -32.614,-2.06738 -48.921,-11.07646 -2.8254,-15.234325 -5.093,-26.721462 -20.6145,-26.460409 C 92.186526,50.790475 99.664895,46.242068 102.76486,31.69096 Z" description-data="<img src='static/images/pngwingch.png'> The skeleton of the head -  the skull - protects the brain, sensory organs and serves as a support for the initial sections of the digestive and respiratory system. The skull is formed by a strong brain box and is divided into facial and brain sections. The brain part of the skull is formed by bones that are firmly and motionlessly connected to each other. These are paired parietal and temporal bones and unpaired frontal and occipital bones. The facial region of the skull consists of 15 bones. The largest bones of the facial skull are the upper and lower jaws; the roots of the teeth are located in their cells. There is only one movable bone in the skull - the lower jaw. All other bones of the skull are connected motionless."></path>
            </a>
            <a href="#">
                <path class="part" d="m 129.53295,113.22595 -3.12939,42.54849 36.76799,-1.08781 -3.91612,-30.89382 z"description-data="<img src='static/images/pozvoni.png'> The spinal column, or spine(columna vertebralis) is the main part of the human axial skeleton. Consists of 32-34 vertebrae connected in series to each other in a vertical position. The vertebrae are divided into separate types: cervical, thoracic, lumbar, sacral (fused into the sacrum) and coccygeal. The spinal column performs the function of support, protection of the spinal cord and is involved in the movements of the trunk and head."></path>
            </a>
            <a href="#">
                <path class="part" d="m 139.23972,245.84513 -4.35124,143.15584 c -9.52198,15.71161 4.85534,19.47358 17.84009,23.93183 20.31322,-2.585 32.75583,-8.80259 23.06158,-25.2372 L 162.3013,244.53976 Z"description-data="<img src='static/images/pozvoni.png'> The spinal column, or spine(columna vertebralis) is the main part of the human axial skeleton. Consists of 32-34 vertebrae connected in series to each other in a vertical position. The vertebrae are divided into separate types: cervical, thoracic, lumbar, sacral (fused into the sacrum) and coccygeal. The spinal column performs the function of support, protection of the spinal cord and is involved in the movements of the trunk and head."></path>
            </a>
            <a href="#">
                <path class="part" d="m 106.60541,164.91204 c -42.361547,35.74797 -29.953168,98.8809 -25.672322,157.95006 35.501032,4.30119 37.246542,-89.41807 71.360352,-86.15457 22.66793,-4.88817 34.15911,83.78331 55.26077,86.15457 26.1096,-30.34478 15.84095,-136.30002 -20.88596,-158.8203 Z"description-data="<img src='static/images/tulovi.png'> Chest (lat. Thorax) - one of the parts of the body. It is formed by the sternum, 12 pairs of ribs, the thoracic spine, as well as muscles. The thorax contains the thoracic cavity (Cavum thoracis) and, due to the curvature of the diaphragm, the upper part of the abdominal cavity. The respiratory muscles, strengthened inside and outside on the thorax, ensure breathing in terrestrial vertebrates."></path>
            </a>
            <a href="#">
                <path class="part" d="m 36.985551,480.37704 -14.79422,10.8781 c -2.88105,20.61419 -4.787037,41.33672 2.610744,63.093 5.647297,1.53371 17.429484,9.78559 40.466544,18.27521 C 80.188723,565.78103 76.643053,547.18776 80.06284,533.02706 65.703744,499.73031 51.344647,492.82921 36.985551,480.37704 Z"description-data="<img src='static/images/hands.png'> Brush in anatomy (Latin manus) - the distal part of the upper limb. The metacarpus consists of five tubular metacarpal bones. The metacarpal bone of the first finger is shorter than the others, but differs in its massiveness. The longest is the second metacarpal bone. The following bones decrease in length towards the ulnar edge of the hand. Each metacarpal has a base, body, and head. Finger bones: Each finger consists of three phalanges: proximal, middle and distal. The exception is the first finger, which has only two phalanges - proximal and distal."></path>
            </a>

            <a href="#">
                <path class="part" d="m 278.04432,480.81216 c -12.16073,6.07402 -26.11093,3.3995 -28.28307,58.30664 -5.26795,13.51208 -2.23091,22.87166 15.66447,24.80207 11.30927,-3.3755 20.81279,-6.53338 28.7182,-43.94753 -0.0704,-30.2662 -6.78872,-38.92659 -16.0996,-39.16118"description-data="<img src='static/images/hands.png'> Brush in anatomy (Latin manus) - the distal part of the upper limb. The metacarpus consists of five tubular metacarpal bones. The metacarpal bone of the first finger is shorter than the others, but differs in its massiveness. The longest is the second metacarpal bone. The following bones decrease in length towards the ulnar edge of the hand. Each metacarpal has a base, body, and head. Finger bones: Each finger consists of three phalanges: proximal, middle and distal. The exception is the first finger, which has only two phalanges - proximal and distal."></path>
            </a>
            <a href="#">
                <path class="part" d="m 90.505819,379.86336 120.964511,-7.39711 c 24.51703,14.99517 17.77608,51.30258 18.27521,82.67359 H 89.63557 C 83.199579,429.14423 69.362462,401.9151 89.200446,380.29849 Z"description-data="<img src='static/images/taz.gif'> The pelvic bone (lat. os coxae) is the designation for the paired bones of the right and left, which belong to the girdle of the lower extremities, and together with the sacrum and coccyx form the pelvis. The name nameless bones is also used. Each of the pelvic bones, in turn, is formed by three components: the ilium, the ischium and the pubic bone, which are connected by cartilage in the region of the acetabulum, which serves as the junction of the pelvic bone with the femur. At the age of 14-16, these three bones fuse to form a single pelvic bone."></path>
            </a>
            <a href="#">
                <path class="part" d="M 91.811191,456.01009 229.74554,455.13984 248.45588,865.46189 81.368212,856.32428 C 58.365793,711.4944 75.202594,582.95364 89.63557,455.13984 Z"description-data="<img src='static/images/nozhki.png'> The thigh (from Latin femur - thigh bone) is the proximal part of the lower limb of a person (the hind limb of other representatives of the animal kingdom that possess it) between the hip and knee joints. The lower leg or crus is part of the hind limb (in humans, the lower one) from the knee to the heel, consists of the tibia and fibula, to which the patella is attached. The tibia and fibula end below with two processes: the inner and outer ankle, where they are connected by ligaments. At the top, these bones articulate, along the entire length they are connected by a membrane."></path>
            </a>
            <a href="#">
                <path class="part" d="m 81.368212,856.32428 c -28.721477,10.95864 -27.730773,43.14026 -33.504558,70.49011 19.466611,38.72674 234.116996,23.98355 195.370736,10.00786 l 5.22149,-71.36036 z"description-data="<img src='static/images/nozki2.png'> Foot (Latin pes) - the distal (distant) limb of a plantigrade tetrapod, is a vault that is in direct contact with the ground and serves as a support when standing and moving. The human foot is the lowest part of the lower limb [1]. The part of the foot that is in direct contact with the ground is called the foot or sole [2], the opposite upper side is called the back of the foot. The foot as a whole has an arched design, not fixed, but thanks to the joints, which has flexibility and elasticity. According to the bone structure, the foot is divided into tarsus, metatarsus and phalanges."></path>
            </a>
        </svg>
        <div class="description"></div>
        <img src="static/images/pngwing.png" alt="" width="300" height="800">
    </div>
</div>
<div class="page-videos">
    <div class="container">
        <div class="container-videos">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../static/images/skeleton_1.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Костная система - Анатомия человека | Kenhub</h5>
                            <button class="btn btn-watch" id="skeleton_1">Watch the video</button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../static/images/skeleton_2.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Скелет человека</h5>
                            <button class="btn btn-watch" id="skeleton_2">Watch the video</button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../static/images/skeleton_3.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Строение скелета</h5>
                            <button class="btn btn-watch" id="skeleton_3">Watch the video</button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../static/images/skeleton_4.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Кости скелета туловища</h5>
                            <button class="btn btn-watch" id="skeleton_4">Watch the video</button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../static/images/skeleton_5.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>The Skeletal System</h5>
                            <button class="btn btn-watch" id="skeleton_5">Watch the video</button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../static/images/skeleton_6.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>The Skeletal System: Crash Course Anatomy & Physiology #19</h5>
                            <button class="btn btn-watch" id="skeleton_6">Watch the video</button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../static/images/skeleton_7.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>How Bone Marrow Keeps You Alive</h5>
                            <button class="btn btn-watch" id="skeleton_7">Watch the video</button>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="page-products">
    <div class="container">
        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="static/js/sceleton.js"></script>
<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('.content_toggle').click(function(){
            $('.content_block').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle2').click(function(){
            $('.content_block2').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle3').click(function(){
            $('.content_block3').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle4').click(function(){
            $('.content_block4').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle5').click(function(){
            $('.content_block5').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle6').click(function(){
            $('.content_block6').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle7').click(function(){
            $('.content_block7').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle8').click(function(){
            $('.content_block8').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle9').click(function(){
            $('.content_block9').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle10').click(function(){
            $('.content_block10').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle11').click(function(){
            $('.content_block11').slideToggle(300);
            return false;
        });
    });
    $(document).ready(function(){
        $('.content_toggle12').click(function(){
            $('.content_block12').slideToggle(300);
            return false;
        });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../static/js/videoCarousel/skeleton.js"></script>

</body>
</html>